.view-griev {
    padding: 10px 115px;
    margin-top: 100px;
}

@media only screen and (max-width: 767px) {
    .view-griev {
        padding: 10px 22px 0px 12px;
        margin-top: 90px;
    }
}

.view-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.view-top {
    align-items: center;
    display: flex;
    justify-content: center;
}

.loader-view {
    display: flex;
    height: 65vh;
    align-items: center;
    justify-content: center;
}

.title-name {
    font-size: 25px;
    letter-spacing: 2.1;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    .title-name {
        font-size: 18px;
        text-decoration: underline;
        letter-spacing: 2.1;
        font-weight: 400;
    }
}

.view-bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media only screen and (max-width: 767px) {
    .view-bottom {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
}

.view-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}


@media only screen and (max-width: 767px) {
    .view-item {
        display: flex;
        gap: 20px;
    }
}

.view-item-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.name {
    margin-top: 33px;
}


.item-title,
.item-title-sub {
    font-size: 20px;
    letter-spacing: 1.1px;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(49, 49, 49);
}

@media only screen and (max-width: 767px) {

    .item-title,
    .item-title-sub {
        font-size: 17px;
        letter-spacing: 1.1px;
        font-weight: 600;
        text-transform: capitalize;
        color: rgb(49, 49, 49);
    }
}

.left {
    font-size: 19px;
    font-weight: normal;
}

@media only screen and (max-width: 767px) {
    .left {
        font-size: 16px;
        font-weight: normal;
    }
}


.actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

@media only screen and (max-width: 767px) {
    .actions-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.actions-left {
    flex: 6;
    align-items: center;
    justify-content: center;
}

.actions-right {
    flex: 6;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.textarea {
    width: 100%;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
}

.actions {
    margin-top: 20px;
}