.view-griev {
    padding: 10px 115px;
    margin-top: 110px;
}

@media only screen and (max-width: 767px) {
    .view-griev {
        padding: 10px 22px 0px 12px;
        margin-top: 90px;
    }
}

.acces-row {
    padding: 20px;
    border: 1px solid rgb(255, 198, 198);
    border-radius: 10px;
}

.access-name {
    font-size: 17px;
}

.view-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.view-top {
    align-items: center;
    display: flex;
    justify-content: center;
}

.loader-view {
    display: flex;
    height: 65vh;
    align-items: center;
    justify-content: center;
}

.title-name {
    font-size: 25px;
    letter-spacing: 2.1;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    .title-name {
        font-size: 18px;
        text-decoration: underline;
        letter-spacing: 2.1;
        font-weight: 400;
    }
}

.view-bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media only screen and (max-width: 767px) {
    .view-bottom {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
}

.view-item {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 30px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}


@media only screen and (max-width: 767px) {
    .view-item {
        display: flex;
        gap: 20px;
    }
}

.view-item-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.name {
    margin-top: 33px;
}

.view-item-left-title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.item-title,
.item-title-sub {
    font-size: 20px;
    letter-spacing: 1.1px;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(49, 49, 49);
}

@media only screen and (max-width: 767px) {

    .item-title,
    .item-title-sub {
        font-size: 17px;
        letter-spacing: 1.1px;
        font-weight: 600;
        text-transform: capitalize;
        color: rgb(49, 49, 49);
    }
}

.left {
    font-size: 19px;
    font-weight: normal;
}

@media only screen and (max-width: 767px) {
    .left {
        font-size: 16px;
        font-weight: normal;
    }
}


.actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

@media only screen and (max-width: 767px) {
    .actions-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }
}

.actions-left {
    flex: 6;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: start;
}

@media only screen and (max-width: 767px) {
    .actions-left {
        flex: 6;
        width: 100%;
        align-items: center;
        padding: 0px 15px 0px 0px;
        gap: 20px;
        justify-content: start;
    }
}

.actions-right {
    flex: 6;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .actions-right {
        flex: 6;
        align-items: center;
        gap: 20px;
        padding: 0px 15px 0px 0px;
        width: 100%;
        justify-content: start;
    }
}

.hr-view {
    border: none;
    height: 1px;
    background-color: #dfdfdf;

}

.textarea {
    width: 98%;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    margin: 20px 0px;
}

.actions-no {
    margin-top: 20px;
}

.action-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    border: none;
    font-size: 19px;
    color: #fff;
    cursor: pointer;
}

.update-status {
    display: flex;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    background-color: red;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.show-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0.5px solid rgb(211, 211, 211);
}

.custom {
    margin-top: 15px;
}

.c-delete {
    display: flex;
    font-size: 23px;
    cursor: pointer;
    transition: all ease 0.03s;
}

.c-delete:hover {
    transform: scale(1.05);
}

.view-access-container {
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: space-between;
    padding: 10px 0px;
}

@media only screen and (max-width: 767px) {
    .view-access-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        padding: 10px 0px;
    }
}

.view-access-col {
    flex: 8;
    align-items: start;
    justify-content: space-between;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .view-access-col {
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 17px;
        width: 100%;
        flex-direction: column;
    }

    .custom {
        margin-left:-20px ;
    }
}


.button-div-view {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    width: 300px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .button-div-view {
        border: 1px solid rgb(184, 184, 184);
        border-radius: 10px;
        padding: 10px;
        display: flex;
        width: 100%;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.view-access-row {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    width: 320px;
    justify-content: center;
}

.container-access {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: auto;
    box-shadow: 0px 1px 3px 3px rgb(235, 235, 235);
    width: 100%;
    border-radius: 7px;
}

.access-item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 19px;
    width: 100%;
    gap: 10px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgb(255, 203, 203);
    border-radius: 10px;
    cursor: pointer;
}

.motion {
    width: 100%;
}


.view-access-col-right {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 20px;
    align-items: start;
    justify-content: center;
}

.view-access-permission {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: auto;
    box-shadow: 0px 1px 3px 3px rgb(235, 235, 235);
    width: 100%;
    border-radius: 7px;
}

.permision {
    font-size: 17px;
}

.view-access-item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 19px;
    width: 100%;
    gap: 10px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgb(255, 203, 203);
    border-radius: 10px;
    cursor: pointer;
}

.button-div-view-access {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    width: 300px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.view-actions{
    margin-top: 20px;
}