.dashboard {
    padding: 10px 90px;
    margin-top: 100px;
    /* height: 100vh; */
}

@media only screen and (max-width: 767px) {
    .dashboard {
        padding: 10px 0px;
        margin-top: 70px;
    }

    .buttons-row {
        padding: 10px;
    }
}

.buttons-row {
    padding: 29px 0;
}

@media only screen and (max-width: 767px) {
    .buttons-row {
        padding: 20px 0px;
    }
}

.table-row {
    height: 62vh;
    overflow-y: scroll;
}

@media only screen and (max-width: 767px) {
    .table-row {
        height: 88vh;
    }
}

.not-found {
    padding: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

@media only screen and (max-width: 767px) {
    .not-found {
        padding: 40px;
        height: 71vh;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

    }
}

.not-found-img {
    margin-top: 1rem;
    height: 13rem;
}

@media only screen and (max-width: 767px) {
    .not-found-img {
        /* margin-top: 2rem; */
        align-self: center;
        justify-self: center;
        height: 8rem;
    }
}

.not-found-tag {
    margin-top: 1rem;
    font-size: 2em;
    color: rgb(92, 92, 92);
}

@media only screen and (max-width: 767px) {
    .not-found-tag {
        margin-top: 1rem;
        font-size: 1em;
        color: rgb(92, 92, 92);
    }

}

.info {
    font-size: 1em;
}

@media only screen and (max-width: 767px) {
.info {
    font-size: 0.9em;
}

}