.faculty-login-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.faculty-login-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.faculty-login-row{
    position: relative;
}

.nav-button-box{
    position: absolute;
    top: -19px;
    left: -10px;
    transform: translate(-20%,50%);
}

.nav-button{
    font-size: 32px;
    cursor: pointer;
    transition: all ease 0.1s;
}

.nav-button:hover{
    transform: scale(1.1);
}

.faculty-login-col {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.faculty-login-title-name {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #101010;
}

.faculty-name{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #101010;
}

.faculty-login-input-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.faculty-login-input-row {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.faculty-login-input {
    width: 280px;
    padding: 15px;
}

.faculty-login-button {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #ff1c1c;
    color: #fff;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: capitalize;
}