.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 20px 20px;
    margin-bottom: 3px;
    border-radius: 9px;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.item-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.index{
    font-size: 19px;
    margin-right: 5px;
}

.item-col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-name{
    font-size: 22px;
    text-transform: uppercase;
}