.student-login-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-login-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: relative;
}

.student-login-row {
    position: relative;
}

.nav-button-box {
    position: absolute;
    top: -19px;
    left: -10px;
    transform: translate(-20%, 50%);
}

@media only screen and (max-width: 767px) {
.nav-button-box {
    position: absolute;
    top: -19px;
    left: 5px;
    transform: translate(-20%, 50%);
}
  }


.nav-button {
    font-size: 32px;
    cursor: pointer;
    transition: all ease 0.1s;
}

.nav-button:hover {
    transform: scale(1.1);
}

.student-login-col {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.student-login-title-name {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #101010;
}

.student-name {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #101010;
}

.student-login-input-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.student-login-input-row {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.student-login-input {
    width: 280px;
    padding: 15px;
}

.student-login-button {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #0731C6;
    color: #fff;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: capitalize;
}